<%- include("../components/header.ejs"); %>
<div class="container">
    <div class="text-center">
        <h1 class="mt-1 mb-1"><%- content %></h1>
        <img src="/img/eto_norma.png" alt="">
    </div>
</div>
<%- include("../components/footer.ejs") %>